header
  +clearfix


  background:
    image: url('../images/fundo-slide-pagina-inicial.jpg')
    //position:
    //attachment:
    //size:

  .logo
    float: left
    img
      width:  570px
      height: 207px
  .links
    float: right

    nav
      ul
        li
          display: inline-block

          a
            color: $branco
            text-transform: uppercase

    .social

  h1,
  p
    color: $branco
